/* ========================STANDARD CSS======================== */
*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-color: #FFFFFF;
	margin: 0vh 1vw;
}
@font-face {
  font-family: 'FilsonPro';
  src: url('../assets/FilsonProRegular.otf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
	font-family: 'AcuminVariable';
	src: url('../assets/AcuminVariableConcept.otf');
	font-style: normal;
	font-weight: 300;
}
h1 {
	font-family: 'FilsonPro', sans-serif;   
	font-size: 2em;
	text-transform: uppercase;
	color: #5475B6;
	font-weight: 700; /* bold */
	margin: auto;
}
h2 {
	font-family: 'FilsonPro', sans-serif;   
	font-size: 1.5em;
	color: #FFFFFF;
	background-color: #EB4F75;
	font-weight: 700; /* bold */
	width: 100%;
	padding: 5px;
	border: white solid 1vw;
	text-align: center;
	margin: auto;

}
h1, h2, h3, h4, h5, h6 {
	font-family: 'FilsonPro', sans-serif;
}
p {
	font-family: 'AcuminVariable', sans-serif;
	font-size: 1em;
	color: #6D6F71;
}
a {
	color: black;
	text-decoration: none;
	font-family: 'FilsonPro', sans-serif;
}
section a {
	background-color:#EB4F75;
	color: white;
	border: white solid 1vw;
	text-align: center;
	margin: auto;
	padding: 10px;
}
/* ===========================MAIN CSS================================= */
header {
	background-color: #8caef0;
	height: 10vh;
	text-align: center;
	margin: 1vh 0vw;
}
.happyflow {
	display: flex;
	flex-direction: row;
}
main {
	background-color:antiquewhite;
}
.activities{
	display: flex;
	flex-direction: column;
	justify-content:space-evenly ;
	height: 65vh;
	width: 100%;
	border-top: 1vh solid white;
	background-image: url(../images/test.jpg);
}
img {
	width: 100%;
}
article {
	margin: 50px;
	background-color: rgba(0, 0, 0, 0.4)
}
article * {
	margin: auto;
	text-align: center;
	padding: 10px;
	color: white;
}
footer {
	background-color: #8caef0;
	height: 10vh;
	margin: 1vh 0vw 8vh 0vw;
}
nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #8caef0;
	height: 10vh;
	border: 1vw solid white;
}
nav ul li {
	border-left: 1vw solid white;
	border-right: 1vw solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 20px;
}
/* ============================== */
.groupchats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-top: 1vh solid white;
}
.chattile {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 45%;
	padding: 5px;
	border: 1vw solid white;
	background-color: #8caef0;
	border-radius: 10%;
	margin: 1em 0em;
}
.chattile figure {
	width:100%;
	border: 1vw solid white;
	border-radius: 25%;
	overflow: hidden;
}
.chattile h3 {
	padding: 1em;
}
/* ============================== */
.chats {
	height: 10vh;
	width: 100%;
	border-top: 1vh solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.chats figure {
	width: 15vw;
	border: 2px solid white;
	border-radius: 50%;
	background: grey;
	margin: 5px;
	overflow: hidden;
}
.chatname {
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
}
.chatstatus {
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.chatstatus p {	color:red;}
/* ============================== */
.chatheader {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 10vh;
	width: 100%;
}
.chatheader figure {
	width: 15vw;
	border: 2px solid white;
	border-radius: 50%;
	background: grey;
	margin: 5px;
	overflow: hidden;
}
.chatbox {
	height: 55vh;
	border-top: 1vh solid white;
}
.chatbar {
	height: 10vh;
	border-top: 1vh solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 15px;
}
input {
	width: 100%;
	border-radius: 50px;
	padding: 15px;
	border: 1vw solid white;
	background-color: rgb(233, 233, 233);
}
/* ================================= */
.login {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 60vh;
	align-items: center;
}
.login figure {
	width: 50vw;
	height: 25vh;
	border: 1vw solid white;
	border-radius: 50%;
}
.login section {
	display: flex;
	flex-direction: column;
}
/* =================================== */
.calender {
	height: 65vh;
	background-color: antiquewhite;
	border-top: 1vh solid white;
}
.week {
	display: flex;
	flex-direction: row;
}
.day {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 14vw;
	height: 10vh;
	border: 1vw solid white;
	padding: 10px;
}
