/* ========================Preset-CSS======================== */
*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	background-color: #FFFFFF;
	margin: 0px 5px;
}
@font-face {
  font-family: 'FilsonPro';
  src: url('../assets/FilsonProRegular.otf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
	font-family: 'AcuminVariable';
	src: url('../assets/AcuminVariableConcept.otf');
	font-style: normal;
	font-weight: 300;
}
h1 {
	font-family: 'FilsonPro', sans-serif;   
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	font-weight: 700; /* bold */
	margin: auto;
}
h2 {
	font-family: 'FilsonPro', sans-serif;   
	font-size: 1.5em;
	color: #FFFFFF;
	background-color: #EB4F75;
	font-weight: 700; /* bold */
	width: 100%;
	padding: 5px;
	text-align: center;
	margin: auto;

}
h1, h2, h3, h4, h5, h6 {
	font-family: 'FilsonPro', sans-serif;
}
p {
	font-family: 'AcuminVariable', sans-serif;
	font-size: 1em;
	color: #6D6F71;
}
a {
	color: black;
	text-decoration: none;
	font-family: 'AcuminVariable', sans-serif;
}
/* ===========================MAIN CSS================================= */
header {
	display: flex;
	justify-content: center;
	background-color: #8caef0;
	text-align: center;
	border-top: 5px solid white;
}
header img {
	width: 50%;
	height: auto;
	margin: 10px;
}
main {
	background-color:antiquewhite;
}
main header {
	height: auto;
	background-color: #EB4F75;
}
main header a {
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 10px;
	background-color: #EB4F75;
	color: white;
	border-right: 5px solid white;
}
.activities{
	display: flex;
	flex-direction: column;
	justify-content:space-evenly ;
	height: 65vh;
	width: 100%;
	border-top: 5px solid white;
}
main a .activities:nth-of-type(1) {
	background-image: url(../images/fietsen.PNG);
	background-size: cover;
}
.activities:nth-of-type(1) {
	background-image: url(../images/gracht.PNG);
	background-size: cover;
}
.activities:nth-of-type(2) {
	background-image: url(../images/party.png);
	background-size: cover;
}
.activities:nth-of-type(3) {
	background-image: url(../images/museum.PNG);
	background-size: cover;
}
.activities:nth-of-type(4) {
	background-image: url(../images/cafe.PNG);
	background-size: cover;
}
img {
	width: 100%;
}
.activities article {
	margin: auto;
	width: 75%;
	background-color: rgba(0, 0, 0, 0.4);
	border: 5px solid white;
}
.activities article * {
	margin: 10px 0px;
	text-align: center;
	color: white;
}
.activities article figure img {
	border: 5px solid white;
	margin: 0;
	width: 90%;
	height: 100%;
	object-fit: cover;
}
.activities article figure {
	overflow: hidden;
}
footer {
	background-color: #8caef0;
	height: auto;
	border-top: 5px solid white;
	margin-bottom: 10vh;
	overflow: hidden;
}
footer section {
	border-top: 5px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
}
footer section img {
	width: 40%;
	margin: 10px;
}
footer section article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #EB4F75;
	width: 60%;
}
footer section article a {
	color: white;
}
footer section article > * {
	margin: auto;
}
nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #8caef0;
	height: 10vh;
}
nav ul li {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	width: 25%;
	text-align: center;
}
nav ul li a {
	padding: 15px;
	font-family:'FilsonPro';
	color: white;
}
nav ul .active {
	border: 5px solid white;
}
/* ===========Detailspage=================== */
.groupchats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-top: 5px solid white;
}
.chattile {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 45%;
	padding: 5px;
	border: 5px solid white;
	background-color: #8caef0;
	margin: 1em 0em;
	text-align: center;
}
.chattile img {
	width: 100%;
	border: 5px solid white;
	overflow: hidden;
}
.chattile h3 {
	padding: 1em;
}
.chattile p {
	color: whitesmoke;
}
/* =============Chats-page================= */
.chats {
	width: 100%;
	border-top: 5px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.chats > * {
	margin: 5px;
}
.chats img {
	border: 2px solid white;
	overflow: hidden;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-color: whitesmoke;
}
.chatname {
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	width: 100%;
}
.chatstatus {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 10%;
}
.chatstatus p {	color:red;}
/* =============Livechat-page================= */
.chatheader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10vh;
	width: 100%;
	border-top: 5px solid white;
}
.chatheader .chatname {
	width: 60%;
}
.chatheader a {
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 10px;
	background-color: #EB4F75;
	color: white;
	border-right: 5px solid white;
}
.chatheader figure {
	border: 2px solid white;
	background-color: whitesmoke;
	overflow: hidden;
	border-radius: 50%;
	margin: 5px;
}
.chatheader figure img {
	width: 100%;
	height: 100%;
}
.chatbox {
	height: 50vh;
	border-top: 5px solid white;
	padding: 10px 20px;
	overflow: auto;
}
.message {
	color: white;
	background-color: skyblue;
	width: fit-content;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
}
.message2 {
	background-color: lightpink ;
}
.usermessage {
	margin-left: auto;
	background-color: white;
	color: black;
}
form {
	height: 10vh;
	border-top: 5px solid white;
	display: flex;
	flex-direction: row;
	padding: 10px;
}
form input {
	border: none;
	outline: none;
	padding-left: 5px;
	width: 80%;
}
form button {
	border: none;
	outline: none;
	background-color: #EB4F75;
	color: white;
	width: 20%;

}
/* ===============Profile-page==================== */
.settings {
	height: 10vh;
	width: 100%;
	border-top: 5px solid white;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}
.settingsprofile {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.settingsprofile article {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* =================Friends-page================== */
.friendslist {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-top: 5px solid white;
}
.friends {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 45%;
	padding: 5px;
	border: 5px solid white;
	background-color: #8caef0;
	margin: 1em 0em;
	text-align: center;
}
.friends img {
	width:100%;
	border: 5px solid white;
	overflow: hidden;
}
.friends h3 {
	padding: 1em;
}
.friends .online {
	color: lawngreen;
}
.friends .offline {
	color: #EB4F75;
}
/* =======Desktop-usability======== */
@media only screen and (min-width: 700px) {
	.activities article	{
		width: 25%;
		margin: auto;
	}
}